@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body > div {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-shrink: 1;
}

.radix-themes {
    --default-font-family: var(--font-poppins) !important;
}

.shadowBoxLight {
    box-shadow: rgba(255, 173, 0, 0.3) 0rem 0rem 0rem 0.25rem, rgba(255, 255, 255) 0px 0px 0px 0.5rem;
}

@layer utilities {
    .shadowBoxDark {
        box-shadow: rgba(255, 173, 0, 0.3) 0rem 0rem 0rem 0.25rem, rgba(17, 17, 19) 0px 0px 0px 0.5rem;
    }
}

.halfHeight {
    top: calc(0.95rem / 2);
}

.halfWidth {
    width: calc(50% + 1px);
}

.notFoundHeight {
    height: calc(100dvh - 8rem);
}
