@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html {
    font-size: 93.75%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body > div {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-shrink: 1;
}

.radix-themes {
    --default-font-family: var(--font-custom) !important;
}

.shadowBoxLight {
    box-shadow: rgba(255, 173, 0, 0.3) 0rem 0rem 0rem 0.25rem, rgba(255, 255, 255) 0px 0px 0px 0.5rem;
}

@layer utilities {
    .shadowBoxDark {
        box-shadow: rgba(255, 173, 0, 0.3) 0rem 0rem 0rem 0.25rem, rgba(17, 17, 19) 0px 0px 0px 0.5rem;
    }
}

.halfHeight {
    top: calc(0.95rem / 2);
}

.halfWidth {
    width: calc(50% + 1px);
}

.notFoundHeight {
    height: calc(100dvh - 8rem);
}

@media screen and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

.gridTemplateAreas {
    grid-template-areas:
        "topLeftCorner topLCorner topCenter topRCorner topRightCorner"
        "firstRowL firstRowLL firstRow firstRowRR firstRowR"
        "bottomLeftCorner bottomLCorner bottomCenter bottomRCorner bottomRightCorner"
        "secondRowL secondRowL secondRow secondRowR secondRowR";
}

.gridTopLeftCorner {
    grid-area: topLeftCorner;
}

.gridTopLCorner {
    grid-area: topLCorner;
}

.gridTopCenter {
    grid-area: topCenter;
}

.gridTopRCorner {
    grid-area: topRCorner;
}

.gridTopRightCorner {
    grid-area: topRightCorner;
}

.gridFirstRowL {
    grid-area: firstRowL;
}

.gridFirstRowLL {
    grid-area: firstRowLL;
}

.gridFirstRow {
    grid-area: firstRow;
}

.gridFirstRowR {
    grid-area: firstRowR;
}

.gridFirstRowRR {
    grid-area: firstRowRR;
}

.gridBottomLeftCorner {
    grid-area: bottomLeftCorner;
}

.gridBottomLCorner {
    grid-area: bottomLCorner;
}

.gridBottomCenter {
    grid-area: bottomCenter;
}

.gridBottomRCorner {
    grid-area: bottomRCorner;
}

.gridBottomRightCorner {
    grid-area: bottomRightCorner;
}

.gridSecondRowL {
    grid-area: secondRowL;
}

.gridSecondRow {
    grid-area: secondRow;
}

.gridSecondRowR {
    grid-area: secondRowR;
}

::-moz-selection {
    background: rgba(255, 173, 0, 0.67);
}

::selection {
    background: rgba(255, 173, 0, 0.67);
}

@media (prefers-color-scheme: dark) {
    ::-moz-selection {
        color: rgba(17, 17, 19);
        background: rgba(255, 173, 0, 0.67);
    }

    ::selection {
        color: rgba(17, 17, 19);
        background: rgba(255, 173, 0, 0.67);
    }
}
